@import "bootstrap.less";
@import "variables.less";

@font-face {
  font-family: 'PT Sans';
  src: local('PT Sans'), local('PTSans-Regular'), url('http://64424.selcdn.ru/webfont/ptsans/pts55f.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: local('PT Sans Bold'), local('PTSans-Bold'), url('http://64424.selcdn.ru/webfont/ptsans/pts75f.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: local('PT Sans Italic'), local('PTSans-Italic'), url('http://64424.selcdn.ru/webfont/ptsans/pts56f.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'PT Sans';
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url('http://64424.selcdn.ru/webfont/ptsans/pts76f.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'PT Serif';
  src: local('PT Serif'), local('PTSerif-Regular'), url('http://64424.selcdn.ru/webfont/ptserif/ptf55f.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Serif';
  src: local('PT Serif Italic'), local('PTSerif-Italic'), url('http://64424.selcdn.ru/webfont/ptserif/ptf56f.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'PT Serif';
  src: local('PT Serif Bold'), local('PTSerif-Bold'), url('http://64424.selcdn.ru/webfont/ptserif/ptf75f.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'PT Serif';
  src: local('PT Serif Bold Italic'), local('PTSerif-BoldItalic'), url('http://64424.selcdn.ru/webfont/ptserif/ptf76f.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

h1 {
  font-size: 26px;
  font-family: @font-family-serif;
}
h2 {
  font-size: 22px;
  color: @brand-primary;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 14px;
}
.header-top {
  padding: 10px 0 20px;
}
.logo {
  margin-bottom: 10px;
}
.user-panel {
  color: #fff;
  font-size: 14px;
  margin-top: 16px;
  a {
    color: #fff;
  }
}
.top-nav {
  ul {
    margin-bottom: 0;
    li {
      a {
        color: #424242;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
  }
}

.main-nav {
  background: linear-gradient(to bottom, #a92f2f, #792121);
  li {
    a {
      text-decoration: none;
    }
  }
}
.grey-btn {
  background: linear-gradient(to bottom, #ededed, #dbdbdb);
  border-radius: 2px;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.3);
  border: none;
}
.search-form {
  .form-control {
    width: 75%;
    max-width: 468px;
    float: left;
  }
  button {
    width: 23%;
    margin-left: 2%;
    font-size: 12px;
    height: 36px;
    padding-top: 5px;
    padding-bottom: 5px;
    .grey-btn;
  }
}
.catalog-nav {
  position: relative;
  .navbar-header {
    border-bottom: 2px solid #dbc7c7;
  }
  .navbar-toggle {
    float: left;
    .icon-bar {
      background: @brand-primary;
    }
  }
  .navbar-nav {
    margin-top: 0;
    li {
      a {
        color: @brand-primary;
        font-size: 14px;
        text-transform: uppercase;
        text-decoration: none;
        border-bottom: 1px dashed #dbc7c7;
        &:hover, &:focus {
          color: @brand-primary;
        }
      }
    }
    li.active {
      a {
        color: @brand-primary;
        &:hover, &:focus {
          color: @brand-primary;
        }
      }
    }
  }
}
.catalog-nav-head {
  color: @brand-primary;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  top: 18px;
  left: 62px;
}
@media (min-width: @screen-sm-min) {
  .header-top {
    padding: 30px 0;
  }
  .user-panel {
    color: @brand-primary;
    margin: 5px 0;
    a {
      color: @brand-primary;
    }
  }
  .search-form {
    button {
      font-size: 18px;
    }
  }
  .main-nav {
    height: 55px;
    .navbar-nav {
      width: 100%;
      text-align: justify;
      overflow: hidden;
      cursor: default;
      &:after {
        content: "1";
        margin-left: 100%;
        height: 1px;
        overflow: hidden;
        display: inline-block;
      }
      li {
        display: inline;
        float: none;
        a {
          display: inline-block;
          font-size: 14px;
        }
      }
    }
  }
}
@media (min-width: @screen-md-min) {
  .user-panel {
    margin-top: 0;
  }
  .search-form {
    margin-top: 25px;
  }
  .main-nav {
    .navbar-nav {
      li {
        a {
          font-size: 16px;
        }
      }
    }
  }
}
.main {
  padding: 20px 0 40px;
}
.sidebar {
  .nav {
    border-top: 1px dashed #dbc7c7;
    margin-bottom: 20px;
    li {
      a {
        color: @brand-primary;
        font-size: 14px;
        text-transform: uppercase;
        text-decoration: none;
        border-bottom: 1px dashed #dbc7c7;
        padding: 7px 0;
        &:hover, &:focus {
          color: @brand-primary;
          background: #fff;
        }
      }
      &:last-child {
        a {
          border: none;
        }
      }
    }
  }
}
.main-content {
  img {
    display: block;
    height: auto;
    max-width: 100%;
  }
}
.actual {
  margin-bottom: 50px;
  .carousel {
    img {
      .img-responsive;
    }
    .item {
      height: 200px;
      overflow: hidden;
    }
  }
}
.actual-text {
  h2 {
    margin-top: 0;
    a {
      color: @text-color;
      font-size:20px;
      font-weight:700;
      text-decoration:none;
    }
  }
  .date {
    color:#828282;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:10px;
    margin-bottom:20px;
  }
}
.main-infoblock {
  background: url(../images/line.png) repeat-x top;
  padding: 18px 0 0;
}
@media (max-width: @screen-xs-max) {
  .main-content {
    .main-infoblock:first-child {
      background: none;
    }
  }
}
.main-front-title {
  margin-top: 0;
  a {
    color:#711f1f;
    font-size:16px;
    font-weight:bold;
    text-decoration:none;
  }
}
.news-section {
  margin-bottom:20px;
  a {
    color:#7e7e7e;
    font-size:14px;
    text-decoration:none;
    border-bottom:1px dashed #7e7e7e;
    margin-right:5px;
  }
}
.main-news-block {
  margin-bottom:20px;
}
.news-title {
  line-height:125%;
  a {
    font-family: "PT Serif", "Times New Roman", Times, serif;
    font-size:20px;
    color:@text-color;
    text-decoration:none;
    line-height:125%;
  }
}
.news-img {
  float:left;
  width: 100%;
  margin:0 20px 5px 0;
}
.news-details {
  margin-bottom:10px;
  span, a {
    color:#828282;
    font-size:12px;
  }
  a {
    text-decoration:none;
  }
}
.news-anons {
  margin-bottom:10px;
  a {
    color:@text-color;
    text-decoration:none;
  }
}
.link-more {
  margin-bottom:10px;
  a {
    color:#000;
    font-size:14px;
  }
}
.afisha-date {
  margin-bottom:10px;
  font-size:14px;
}
.afisha-place {
  font-weight:700;
  margin-bottom:10px;
  font-size:14px;
}
.afisha-list {
  li {
    line-height:125%;
    margin-bottom:5px;
    a {
      color:@text-color;
      text-decoration:none;
      line-height:125%;
      font-size:14px;
    }
  }
}
.foto-block {
  margin-bottom:20px;
}
.foto-title {
  margin-bottom:10px;
  line-height:125%;
  a {
    color:@text-color;
    line-height:125%;
    font-weight:bold;
    text-decoration:none;
    font-size:14px;
  }
}
.blog-title {
  font-weight:bold;
  margin-bottom:10px;
  font-size:14px;
}
.last-notes{
  p {
    line-height:125%;
    a {
      color:@text-color;
      line-height:125%;
      font-size:14px;
    }
    span {
      font-size:12px;
      color:#a0a0a0;
    }
  }
}
.blog-item {
  overflow:hidden;
  margin-bottom:10px;
}
.blogger-img {
  float:left;
  width:60px;
}
.blogger-name {
  margin-left:80px;
}
.name a {
  color:#000;
  text-decoration:none;
  font-size:14px;
}
.nick a {
  font-size:12px;
  color:#a0a0a0;
  text-decoration:none;
}
@media (min-width: @screen-sm-min) {
  .news-img {
    width: 40%;
  }
  .main {
    padding: 20px 0 50px;
  }
}
@media (min-width: @screen-md-min) {
  .news-img {
    width: 33%;
  }
}
.footer-nav {
  background:#ededed;
  padding:20px 0;
  font-size: 14px;
}
.footer-col {
  li {
    margin-bottom: 15px;
    a {
      color: @text-color;
      text-decoration: none;
    }
  }
}
.footer-nav-head {
  text-transform: uppercase;
  margin-bottom: 15px;
}
.footer-copy {
  background:#424242;
  padding:20px;
  color: #fff;
  font-size: 14px;
}
.copy {
  margin-top:20px;
  max-width:530px;
}
@media (max-width: @screen-xs-max) {
  .footer-nav-head {
    cursor: pointer;
  }
}
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
  .footer-col {
    height: 288px;
    margin-bottom: 20px;
    &:nth-of-type(3) {
      border: none;
    }
  }
}
@media (min-width: @screen-sm-min) {
  .footer-col {
    border-right: 1px dashed #ceb9b9;
    &:last-child {
      border: none;
    }
  }
}
@media (min-width: @screen-md-min) {
  .footer-col {
    height: 393px;
  }
}
@media (min-width: @screen-lg-min) {
  .footer-col {
    height: 288px;
  }
}
.inner-content {
  img {
    .img-responsive;
  }
  figure {
    margin-bottom: 25px;
  }
}
.breadcrumb {
  margin-bottom: 20px;
  li {
    font-size: 14px;
    color: #000;
    a {
      color: #000;
    }
  }
}
.details-top, .details-bottom {
  color:#828282;
  font-size:14px;
}
.details-top {
  margin-bottom:20px;
}
.details-bottom {
  margin:60px 0 20px;
}
.inner-content .tag a {
  text-decoration:underline;
}
.tag {
  margin-bottom:10px;
  img {
    margin-right:10px;
  }
  a {
    color:#828282;
    font-size:14px;
    text-decoration:none;
    margin-right:10px;
  }
}
.socbuttons-bar {
  margin: 25px 0;
  ul {
    .clearfix;
    li {
      float: left;
      width: 32px;
      margin-right: 3px;
    }
  }
}
.comments {
  background: url(../images/line.png) repeat-x top;
  padding: 5px 0 40px;
  h3 {
    color: @brand-primary;
  }
  textarea {
    max-width: 340px;
  }
  button {
    .grey-btn;
    padding-left: 25px;
    padding-right: 25px;
    color: #000;
    &:hover, &:focus {
      color: #000;
    }
  }
}
.comments-block {
  overflow:hidden;
  margin-bottom:20px;
}
.avatar {
  img {
    .img-responsive;
  }
}
.user-name a {
  color:@text-color;
  font-size:14px;
  font-weight:bold;
}
.comments-date {
  margin-bottom:10px;
  font-size:14px;
}
.comments-post p {
  margin-bottom:10px;
}
.afisha-section {
  margin-bottom: 10px;
  a {
    color:#a0a0a0;
    text-decoration:none;
    border-bottom:1px dashed #a0a0a0;
    margin-right:5px;
    font-size:14px;
  }
  a.red {
    color:#a92f2f;
    border-bottom:1px dashed #a92f2f;
    white-space: nowrap;
  }
}
.afisha-select {
  margin-bottom: 25px;
}
.afisha-day {
  padding:20px 0;
  h3 {
    margin-bottom: 20px;
  }
}
.afisha-date-title {
  font-size: 20px;
  font-weight: 700;
  border-bottom:2px solid #7f7f7f;
  color:#000;
  padding-bottom:5px;
}
.afisha-img {
  margin-bottom: 10px;
}
.afisha-item {
  margin-bottom:20px;
  h2 {
    margin: 0 0 10px;
    a {
      color: #711f1f;
      text-decoration:none;
      font-size:20px;
    }
    span {
      color:#9c9c9b;
      font-size:14px;
      font-weight:400;
    }
  }
}
.afisha-info {
  div {
    margin-bottom:10px;
  }
  .link-more {
    a {
      color: @brand-primary;
    }
  }
}
.afisha-place {
  font-weight:bold;
  margin-bottom:10px;
  font-size:14px;
}
.afisha-time {
  color:#000;
  font-size:14px;
  font-weight:700;
}
.afisha-anons {
  font-size:14px;
}
.news-details .comments-link {
  background: url(../images/comments.png) no-repeat left;
  padding-left: 15px;
}
.inner-content {
  .pager {
    li {
      margin-right: 10px;
    }
  }
}
@media (max-width: @screen-xs-max) {
  .inner-content {
    .pager {
      li {
        display: block;
        margin: 0 0 10px 0;
      }
    }
  }
}
@media (min-width: @screen-sm-min) {
  .afisha-section {
    a {
      margin-right: 30px;
    }
  }
  .afisha-select-date {
    text-align: right;
  }
}
.inner-event {
  h1 {
    span {
      font-family: @font-family-sans-serif;
      font-size: 16px;
    }
  }
}
.event-description {
  padding: 20px 0;
}
.event-img {
  margin-bottom: 20px;
}
.event-date {
  li {
    font-weight: 700;
  }
}
.event-place {
  font-weight: 700;
  margin-bottom: 20px;
}
.event-section {
  background: url(../images/line.png) repeat-x top;
  padding: 30px 0;
  dl {
    dd {
      margin-bottom: 10px;
    }
  }
  h2 {
    margin-top: 0;
  }
}
@media (min-width: @screen-sm-min) {
  .event-date li, .event-place {
    font-size: 18px;
  }
  .event-section {
    dl {
      .clearfix;
      dt {
        font-weight: 400;
        float: left;
        width: 150px;
      }
      dd {
        margin-left: 180px;
      }
    }
  }
}
.gallery-item {
  margin-bottom: 20px;
}
.gallery-img {
  margin-bottom: 5px;
}
.gallery-title {
  height: 65px;
  overflow: hidden;
  line-height: 1.25;
  a {
    color: @text-color;
    font-weight: 700;
    text-decoration: none;
  }
}
.main-foto {
  margin-bottom: 40px;
}
.video-page .main-news-block,
.blog-page .blog-anons,
.blog-page .blog-list-anons {
  h2, h2 a {
    color: @text-color;
    font-family: @font-family-serif;
  }
  h2 a {
    text-decoration: none;
  }
}
.video {
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
  margin-bottom: 30px;
}
.video iframe,.video object,.video embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
.article {
  margin-bottom: 40px;
}
.blog-anons-text {
  .details-top {
    font-size: 12px;
    margin-bottom: 10px;
    a {
      color: #828282;
    }
  }
}
.blog-list-anons {
  margin-bottom: 20px;
}
.contact {
  margin-bottom: 30px;
}
.feedback {
  h2 {
    margin-top: 0;
  }
  .form-group {
    margin-bottom: 20px;
  }
  label {
    font-weight: 400;
    line-height: 1.2;
  }
  button {
    height: 36px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 700;
    .grey-btn;
  }
}
.vcard > div,
.vcard > p {
  margin-bottom: 10px;
}
.firm-block {
  border-bottom:2px solid #e2e2e2;
  padding:30px 40px;
}
.firm-name {
  margin-bottom:10px;
  a {
    font-size:20px;
    color:#711f1f;
    text-decoration:none;
  }
}
.firm-tel {
  color:#1200c1;
  font-size:22px;
  font-weight:bold;
}
.firm-site a {
  color: @text-color;
}
.firm-head {
  div {
    margin-bottom: 10px;
  }
}
.firm-head-text {
  p {
    font-size:14px;
  }
}
.firm-head-text-link {
  a {
    margin-right: 60px;
  }
}
.firm-news {
  color:#a0a0a0;
}
p.firm-news span {
  color:#a0a0a0;
  font-size:14px;
  font-weight:bold;
}
.text-block {
  padding:40px 30px;
  p {
    font-size:14px;
  }
}
.firm-item-wrapper {
  border-bottom: 2px solid #e2e2e2;
  padding:20px 30px;
}
.firm-list {
  margin-bottom:40px;
  ul {
    margin-bottom: 40px;
    li {
      &:nth-of-type(1) {
        .firm-item-wrapper {border-top:2px solid #e2e2e2;}

      }
    }
  }
}
@media (min-width: @screen-sm-min) {
  .firm-item-wrapper {
    width: 90%;
  }
  .firm-list {
    ul {
      li {
        &:nth-of-type(2) {
          .firm-item-wrapper {border-top:2px solid #e2e2e2;}
        }
      }
    }
  }
}
.firm-title {
  color:#711f1f;
  font-weight:bold;
  margin-bottom:10px;
}
.add-firm {
  color: @brand-primary;
  margin-left:30px;
  a {
    text-transform:uppercase;
    font-size:14px;
  }
}
.profi-img-list {
  a {
    display: inline-block;
  }
}
.firm-contact-list {
  margin-bottom:20px;
  dt {
    color: #a0a0a0;
    font-weight: 400;
  }
  dd {
    color:#000;
    margin:0 0 10px 70px;
    div {
      color:#000;
    }
    a {
      color:#af2727;
    }
  }
}
.firm-menu {
  background: linear-gradient(to bottom, #f6f6f6, #dedede);
  height: 50px;
  ul {
    padding: 0 20px;
    li {
      a {
        color: #606060;
        font-size: 14px;
        text-decoration: none;
        &:hover, &:focus {
          background: none;
        }
      }
    }
  }
  .navbar-nav {
    width: 100%;
    text-align: justify;
    overflow: hidden;
    cursor: default;
    &:after {
      content: "1";
      margin-left: 100%;
      height: 1px;
      overflow: hidden;
      display: inline-block;
    }
    li {
      display: inline;
      float: none;
      a {
        display: inline-block;
        font-size: 14px;
      }
    }
  }
}
.firm-inner-head {
  padding:0 30px 40px;
}
.firm-about {
  h2 {
    color: @text-color;
    font-size: 26px;
    font-family: @font-family-serif;
  }
}
.firm-border-section {
  padding: 10px 0;
  h2 {
    background: url(../images/line.png) repeat-x right 65%;
    margin-bottom: 40px;
    span {
      background:#fff;
      padding-right:45px;
    }
  }
  .comments {
    background: none;
  }
}
.firm-actions {
  margin-bottom: 20px;
}
.firm-actions-img {
  margin-bottom: 20px;
}
.firm-actions-info {
  h3 {
    margin-top: 0;
    a {
      color: @text-color;
      font-family: @font-family-serif;
      font-weight: 400;
    }
  }
  p {
    color: #000;
    font-size: 14px;
  }
}
.gallery_item {
  margin-bottom: 30px;
  position:relative;
}
.fotoalbum_title {
  width:250px;
  padding:12px 10px;
  background: rgba(0, 0, 0, 0.7);
  position:absolute;
  bottom:0;
  left:15px;
  line-height:125%;
  a {
    display: block;
    color:#fff;
    font-size:14px;
    line-height:125%;
  }
}
.user-reg {
  color:#000;
  font-size:14px;
  margin-top: 30px;
}
.reg-form {
  margin-bottom: 30px;
  label {
    font-weight: 400;
  }
  button {
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 20px;
    font-weight: 700;
    .grey-btn;
  }
}
.reg-link {
  a {
    margin-right: 20px;
  }
}
@media (min-width: @screen-sm-min) {
  .reg-form {
    .form-control {
      max-width: 350px;
    }
  }
}
.video-responsive {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  iframe, object, embed {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
                                                    /*9 maya*/
.v-day-head {
  background: #870301 url(../pictures/v-day-xs.png) no-repeat center top;
  height: 85px;
  @media (min-width: @screen-md-min) {
    background: url(../pictures/9maya-head.jpg) no-repeat center top;
    height: 95px;
  }
  .container {
    height: 85px;
    position: relative;
    z-index: 1;
    @media (min-width: @screen-md-min) {
      background: url(../pictures/v-day.png) no-repeat center top;
      height: 95px;
    }
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
  }
}
.v-day-diagramma {
  margin: 40px 0;
  @media (min-width: @screen-lg-min) {
    margin: 60px 0;
  }
  img {
    margin-bottom: 30px;
  }
}
.v-day-legend {
  @media (min-width: @screen-sm-min) {
    margin-top: 70px;
  }
}
.v-day-legend-item {
  color: #1d1d1b;
  line-height: 1.2;
  padding-left: 30px;
  position: relative;
  margin-bottom: 15px;
  &:before {
    content: "";
    display: block;
    width: 17px;
    height: 17px;
    position: absolute;
    top: 3px;
    left: 0;
  }
}
.v-day-legend-1 {
  &:before {
    background: #a92f2f;
  }
}
.v-day-legend-2 {
  &:before {
    background: #f39200;
  }
}
.v-day-legend-3 {
  &:before {
    background: #36a9e1;
  }
}
.v-day-legend-4 {
  &:before {
    background: #951b81;
  }
}
.v-day-infograf {
  color: #1d1d1b;
  text-align: center;
  padding-top: 95px;
  margin-bottom: 50px;
  @media (min-width: @screen-lg-min) {
    margin-bottom: 70px;
  }
}
.v-day-infograf-1 {
  background: url(../pictures/infograf-1.png) no-repeat center top;
}
.v-day-infograf-2 {
  background: url(../pictures/infograf-2.png) no-repeat center top;
}
.v-day-infograf-3 {
  background: url(../pictures/infograf-3.png) no-repeat center top;
}
.v-day-infograf-4 {
  background: url(../pictures/infograf-4.png) no-repeat center top;
}
.v-day-infograf-5 {
  background: url(../pictures/infograf-5.png) no-repeat center top;
}
.v-day-infograf-6 {
  background: url(../pictures/infograf-6.png) no-repeat center top;
}
.v-day-infograf-numder {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.0;
  margin-bottom: 10px;
  span {
    font-size: 32px;
  }
}
.v-day-infograf-facts {
  line-height: 1.2;
}
.v-day-infograf-1, .v-day-infograf-2, .v-day-infograf-3 {
  .v-day-infograf-facts {
    font-size: 18px;
  }
}
.v-day-infograf-4, .v-day-infograf-5, .v-day-infograf-6 {
  .v-day-infograf-facts {
    font-size: 16px;
  }
}

.share-block {
  margin: 50px 0;
  .social-network {
    margin-bottom: 20px;
  }
}

.likes {
  .share-block;
  padding-left: 15px;
  padding-right: 15px;
}

#vk_like {
  float: left;
  width: 110px !important;
  margin-bottom: 20px;
}

.fb-like {
  float: left;
  width: 120px;
  margin-top: -5px;
  margin-bottom: 20px;
}
.text-content {
  img {
    @media (min-width: @screen-md-min) {
      max-width: 750px;
    }
  }
}